@import 'zmienne';
footer{
    background-color: $kolorMotywu3;
}
.contact{
    width: 50%;
    position: relative;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.social{
    margin-top: 3%;
    width: 15%;
    text-align: center;
    display: inline-block;
}
.social1{
    margin-right: 69%;
}
.social>.fa{
    color: black;
    font-size: 1.2em;
    padding:15px;
    border: solid 1px;
    border-color: $kolorMotywu1;
    background-color: $kolorMotywu1;
    margin-bottom: 5%;
}
.descFooter{
    width: 60%;
    text-align: center;
    position: relative;
    right: 0;
    left: 0;
    margin: 0 auto;
    margin-top: 1.5%;
    padding-bottom: 4%;
}