@import 'zmienne';

@mixin absolute-center {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
}

header {
    width: 100%;
    @include absolute-center;
    margin-top: 0.5%;
}

.title {
    display: inline-block;
}

.title1 {
    margin-right: 40vw;
}

.fa-university {
    color: $kolorMotywu1;
}
