/*opis cointainer(a)*/
#cointainer {
    width: 1000px;
    height: 1000px;
}
/*opis kwadratów*/
.kwadrat {
    position: relative;
    width: 25%;
    height: 25%;
     display: 
}
#czerwony {
    background-color: red;
}
#niebieski {
    background-color: blue;
    
}
#zielony {
    background-color: green;
    
}
#zolty {
    background-color: yellow;
    
}
#czarny{
    background-color: black;
    
}
#pomaranczowy{
    background-color: orange;
    
}
#fioletowy{
    background-color: blueviolet;
   
}
#szary{
    background-color: gray;
    
}
#rozowe{
    background-color: pink;
    
}

/*opisy kółek*/
.kolo{
    position: absolute;
    width: 50%;
	height: 50%;
	border-radius: 100%;
    border: solid; 
    border-width: 1px;
    right: 25%;
    left: 25%;
    top: 25%; 
}
#Krozowe{
    background-color:pink;
    
}
#Kszare{
    background-color:gray;
}
#Kfioletowe{
    background-color:darkviolet;
}
#Kzielone{
    background-color:green;
}
#Kczerwone{
    background-color:red;
}
#Kniebieskie{
    background-color:blue;
}
#Kpomaranczowe{
    background-color:orange;
}
#Kzolte{
    background-color: yellow;
}
#Kczarne{
    background-color: black;
}
