#cointainer {
    width: 1000px;
    height: 1000px;
}
.kolo{
    position: absolute;
    width: 50%;
	height: 50%;
	border-radius: 100%;
    border: solid; 
    border-width: 1px;
    right: 25%;
    left: 25%;
    top: 25%; 
}
.kwadrat {
    position: relative;
    width: 25%;
    height: 25%;
}
#czerwony {
    background-color: red;
}
#niebieski {
    background-color: blue;
    left: 26%;
    bottom: 25%;
}
#zielony {
    background-color: green;
    left: 52%;
    bottom: 50%;
}
#zolty {
    background-color: yellow;
    bottom: 49%;
}
#czarny{
    background-color: black;
    bottom: 74%;
    left: 26%;
}
#pomaranczowy{
    background-color: orange;
    bottom: 99%;
    left: 52%;
}
#fioletowy{
    background-color: blueviolet;
    bottom: 98%;
}
#szary{
    background-color: gray;
    bottom: 123%;
    left: 26%;
}
#rozowe{
    background-color: pink;
    bottom: 148%;
    left: 52%;
}
#Krozowe{
    background-color:pink;
    right: 25%;
    left: 25%;
    top: 25%;
}
#Kszare{
    background-color:gray;
}
#Kfioletowe{
    background-color:darkviolet;
}
#Kzielone{
    background-color:green;
}
#Kczerwone{
    background-color:red;
}
#Kniebieskie{
    background-color:blue;
}
#Kpomaranczowe{
    background-color:orange;
}
#Kzolte{
    background-color: yellow;
}
#Kczarne{
    background-color: black;
}
