

body{
    background-color: #000;
    color:white;
}
.odliczanie{
    position: absolute;
    left:0;
    right:0;
}
#container{
    position: relative;
    width:50%;
    height:50vh;
    text-align: center;
    margin-top:25%;
    margin-left:25%;
    font-size:28px;
    font-weight: 100;
}



.odliczanie, #tekst {
    visibility: hidden;
}
.odliczanie{
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}

.liczba10{
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}

.liczba9{
    
    animation-delay: 1s;
}
.liczba8{
    
    animation-delay: 2s;
}
.liczba7{
  
    animation-delay: 3s;
}
.liczba6{

    animation-delay: 4s;
}
.liczba5{
    
    animation-delay: 5s;
}
.liczba4{
    
    animation-delay: 6s;
}
.liczba3{
    
    animation-delay: 7s;
}
.liczba2{
    
    animation-delay: 8s;
}
.liczba1{
    
    animation-delay: 9s;
}
#tekst{
    animation: 1s fadeInOut;
    animation-fill-mode: forwards;
    animation-delay: 10s;
    font-size:70px;
}

@keyframes fadeIn {
    0%{
        visibility: hidden;
    }
    99%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }

}

@keyframes fadeInOut {
    0%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }

}