@media only screen and (max-width: 992px) {
	.container{
		height: 50vh;
		background-image: url('../img/man-1.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	.title{
		padding-top: 40vh;
		text-align: center;
		margin-top: 0;
	}
	

}
@media only screen and (min-width: 992px) and (max-width: 1170px) {
	.container{
		height: 70vh;
		background-image: url('../img/man-2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	.title{
		padding-top: 10vh;
		padding-left: 55%;
		margin-top: 0;
		color: white;
	}
	

}
