 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


 #cointainer {
     height: 100vh;
     width: 100vw;
 }

 #picture {
     height: 100%;
     background-image: url(man-1.jpg);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     position: relative;
 }


 .title {
     position: absolute;
     left: 0;
     bottom: 50%;
     top: 50%;
     margin-left: 2%;
     color: white;

 }
