body{
	margin: 0;
}
@media only screen and (max-width: 992px) {
	.container{
		height: 40vh;
		background-image: url('man-1.jpg');
		background-size: 100%;
		background-repeat: round;
	}
	.title{
		padding-top: 40vh;
		text-align: center;
		margin-top: 0
	}
	

}
@media only screen and (min-width: 992px) {
	.container{
		height: 70vh;
		background-image: url('man-2.jpg');
		background-size: 100%;
		background-repeat: round;
	}
	.title{
		padding-top: 10vh;
		padding-left: 55%;
		margin-top: 0;
		color: white;
	}
	

}

@media only screen and (min-width: 1170px) {
	.container{
		height: 100vh;
		background-image: url('man-1.jpg');
		background-size: 100%;
		background-repeat: round;
	}
	.title{
		padding-top: 50vh;
		padding-left: 5%;
		margin-top: 0;
		color: white;
	}
	

}

.title{
	font-weight: bolder;
}