.mediabutton{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border-color: black;
    margin-left: 46%;
    margin-top: 20%;
    }
.mediabutton i{
    font-size: 50px;
}
.mediabutton:hover{
    background-color: black;
    cursor: pointer;
    color: white;
}