*{
    margin: 0;
    
}
h1{
    text-align: center;
    padding: 5%;
    font-size: 65px;
    
}
.fa{
    color: #ff00006b;
}
.fa:hover{
    cursor: pointer;
    color: red;
    animation: resize 2s infinite;
    animation-timing-function: linear;

}
@keyframes resize {     
    0%,100% { transform: scale(1);
    } 
    50%{ transform: scale(1.5)}
    
    }