* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
}

/*tło*/

.background {

    background-image: url("../img/header-background.jpg");
    background-position: center;
    width: 100%;
    height: 605px;
    background-size: cover;
}

/*menu*/

.menu {
    position: fixed;
    top: 0;
    right: 5%;

}

.menu ul {
    margin: 0px;
}

li.menu-item {
    display: inline-block;
    margin-left: 50px;
    margin-top: 7%;

}

li.menu-item a {
    color: skyblue;
}

li.menu-item a:hover {
    color: white;
}

/*tytuł*/

.title {
    position: absolute;
        right: 17%;
    bottom: 40%;
}

.title h1 {
    display: inline;
}

.title span {
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    color: white;
}

span#name {
    font-weight: 100;
}

span#surename {
    color: #1dc559fa;
    font-size: 110px;
    font-weight: 500;
}

.title #mysel {
    position: relative;
    left: 25%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 38px;
    font-weight: 100;
}
/*O mnie*/
#aboutmyself{
    width: 100%;
    height: 586px; 
    background-color: whitesmoke;
}
/*O mnie tytuł*/
#aboutmyself header{
    position: absolute;
    left: 46%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 28px;
}
#aboutmyself #o{
    color: #1dc559fa;}
/*O mnie obrazek*/
.MyPhoto{
    position: relative;
    left: 15%
    top: 24%;
    width: 254px;
    height: 288px;
    border-style: solid;
    border-bottom-color: white;
    border-radius: 1%;
    
}
