*{
    margin: 0;
    padding: 0;
}
coinatiner{
   
}
.pola{
    
    width: 24%    ;
    height: 100vh;
    display: inline-block;
}
.czerwone{
    background-color: red;
  
}
.żółte{
    background-color: yellow;
    
}
.zielone{
    background-color: green;
   
}    
.pomarańczowe{
    background-color: orange;
}
.pola:hover{
    width: 30%;
}
