div{
    height: 800px;    
    position: relative;
    width: 800px;
    left: 40%;
}
ul{
    list-style-type: none;
    
}
li:before{
    content: '\f062';
    font-family: FontAwesome;
    margin-right: 5px;
}